$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin sm-screen {
	@media (min-width: #{$sm}) {
		@content;
	}
}
@mixin md-screen {
	@media (min-width: #{$md}) {
		@content;
	}
}
@mixin lg-screen {
	@media (min-width: #{$lg}) {
		@content;
	}
}
@mixin xl-screen {
	@media (min-width: #{$xl}) {
		@content;
	}
}
